doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Log In
  link(rel='stylesheet' href='/libs/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='/css/login.css')
nav.navbar.navbar-expand-lg.navbar-light.bg-dark.navbar-dark
  .container-fluid
    a.navbar-brand(href='#') Dockville
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    //
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Pages
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="newcarclinic.html">Car Clinic form</a></li>
      <li><a class="dropdown-item" href="sign-up-details.html">Client Registration</a></li>
      <li><a class="dropdown-item" href="#">coming soon</a></li>
      </ul>
      </li>
      </ul>
    //
      <form class="d-flex" onsubmit="return Disablefield()">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      </div>
      </div>
.container-cards
.row
  .col-sm-6
    h1.card-title.card-title-parking Log in
  .col-sm-6
    .card.card1.gy-5
      .card-body
        form#formId(name='register' action='#')
            label.form-label(for='exampleInputEmail1') Email
            input#exampleInputEmail1.form-control(type='email' name='emailinput' aria-describedby='emailHelp')
            span#emailError
            label.form-label(for='Password') Password
            input.form-control(type='password' name='password' aria-label='Phone Number')
            span#phoneError
            br
            .butt
                  button.btn(type='submit') login
    // <div class="butt">
    // </div>
//- script(src='./js/parkingValidation.js')
script(src='/libs/bootstrap/js/bootstrap.bundle.js')
