doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Dockville
  link(rel='stylesheet' href='/libs/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='/css/main.css')
.container1
  h1 DockVille
  p car parking made easy for you
  // <hr>
  .butt
    a.btn(href="/api/login") Login
  br
  .butt
    a.btn(href="/api/signup") Sign Up
script(src='/libs/bootstrap/js/bootstrap.bundle.js')
