doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title CarClinic form
  link(rel='stylesheet' href='/libs/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='/css/newparking.css')
nav.navbar.navbar-expand-lg.navbar-light.bg-dark.navbar-dark
  .container-fluid
    a.navbar-brand(href='/api/managerdash') Dockville
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ms-auto.mb-2.mb-lg-0
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Pages
          ul.dropdown-menu(aria-labelledby='navbarDropdown')
            li
              a.dropdown-item(href='/api/mngparkform') Parking form
            li
              a.dropdown-item(href='/api/mngclinictable') Clinic table
            li
              a.dropdown-item(href='/api/logout') Logout
      form.d-flex(onsubmit='')
        input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
        button.btn.btn-outline-success(type='submit') Search
.container-cards
  .row
    .col-sm-6
      .card.parking-card.gy-5
        .card-body.parking-body
          h1.clinic Clinic Form
          hr
          .butt
            a.btn(href="/api/ccpricestable" target='_blank') Prices
    .col-sm-6
      .card
        .card-body.form-card
          form#formId(name='register' action='/api/regclinic' onsubmit='return Validate(event)' method='POST')
            // <h2 >Client Form</h2>
            .mb-3
              .row
                .col
                  label.form-label(for='exampleInputFirstName') First name
                  input.form-control(type='text' name='firstname' placeholder='First name' aria-label='First name')
                  span#fnameError
                .col
                  label.form-label(for='exampleInputLastName') Last name
                  input.form-control(type='text' name='lastname' placeholder='Last name' aria-label='Last name')
                  span#lnameError
              .row
                .col
                  label.form-label(for='exampleInputEmail1') Email address
                  input#exampleInputEmail1.form-control(type='email' name='emailinput' aria-describedby='emailHelp' placeholder='email')
                  span#emailError
                .col
                  label.form-label(for='exampleInputPhoneNumber') Phone Number
                  input.form-control(type='text' name='phoneinput' placeholder='Phone Number' aria-label='Phone Number')
                  span#phoneError
              .row
                .col
                  label.form-label(for='exampleInputNIN') National ID Number
                  input.form-control(type='text' name='niniput' placeholder='NIN' aria-label='NIN')
                  span#ninError
                .col
                  label.form-label(for='exampleInputNumberPlate') Car Type
                  label.visually-hidden(for='inlineFormSelectPref') Preferences
                  select#inlineFormSelectPref.form-select(name='carType')
                    option(selected='') 
                    option(value='Personal') Personal Car(not above 5 seater)
                    option(value='Taxi') Taxi(14 seater and below)
                    option(value='Coaster') Coaster(16 seater and above)
                    option(value='Truck') Truck
                    option(value='Boda') Boda Boda
                  span#carError
              .row
                .col
                  label.form-label(for='exampleInputModel') Model
                  input.form-control(type='text' name='modelinput' placeholder='Model' aria-label='Model')
                  span#modelError
                .col
                  label.form-label(for='exampleInputNumberPlate') Color
                  input.form-control(type='text' name='colorinput' placeholder='Color' aria-label='Model')
                  span#colorError
              label.form-label(for='exampleInputNumberPlate') Number Plate
              input.form-control(type='text' name='numberplate' placeholder='Number Plate' aria-label='Number Plate')
              span#numberplateError
              label.form-label(for='exampleInputDayParking') Services
              label.visually-hidden(for='inlineFormSelectPref') Preferences
              select#inlineFormSelectPref.form-select(name='services')
                option(selected='') 
                option(value='TyreSwap') Car Tyre Clinic 
                option(value='Battery') Rent a Battery 
              span#errorservices
              label.form-label(for='exampleInputNightParking') Cost 
              input.form-control(type='text' name='cost' placeholder='Cost' aria-label='Number Plate')

              span#nightError
              br
              .row
                .col
                  label(for='date') ArrivalDate
                  input.datetime(type='date' name='date')
                  span#dateError
                .col
                  label(for='time') ArrivalTime
                  input.datetime(type='time' name='time')
                  span#timeError
                .col
                  label(for='time') DepartTime
                  input.datetime(type='time' name='depart')
              br
              .butt
                button.btn(type='submit') Submit
script(src='/js/regValidation2.js')
script(src='/libs/bootstrap/js/bootstrap.bundle.js')

