doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Parking form
  link(rel='stylesheet' href='/libs/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='/css/newparking.css')
nav.navbar.navbar-expand-lg.navbar-light.bg-dark.navbar-dark
  .container-fluid
    a.navbar-brand(href='#') Dockville
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      //- ul.navbar-nav.ms-auto.mb-2.mb-lg-0
      //-   li.nav-item.dropdown
      //-     a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
      //-       | Pages
      //-     ul.dropdown-menu(aria-labelledby='navbarDropdown')
      //-       li
      //-         a.dropdown-item(href='newcarclinic.html') Car Clinic form
      //-       li
      //-         a.dropdown-item(href='sign-up-details.html') Client Registration
      //-       li
      //-         a.dropdown-item(href='#') coming soon
      //- form.d-flex(onsubmit='')
      //-   input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
      //-   button.btn.btn-outline-success(type='submit') Search
.container-cards
  .row
    .col-sm-6
      .card.parking-card.gy-5
        .card-body.parking-body
          h1.clinic Clinic Form
          hr
          h4.clin Car Tyre
          h5.clin Tyre Pressure(500)
          h5.clin Puncture fixing(5000)
          h5.clin Valves(5000)
    .col-sm-6
      .card
        .card-body.form-card
          form#formId(name='register' method='POST' action="/api/mngclinic/edit?id="+client._id)
            // <h2 >Client Form</h2>
            .mb-3
              .row
                .col
                  label.form-label(for='exampleInputFirstName') First name
                  input.form-control(type='text' name='firstname' value= client.firstname placeholder='First name' aria-label='First name')
                  span#fnameError
                .col
                  label.form-label(for='exampleInputLastName') Last name
                  input.form-control(type='text' name='lastname' value= client.lastname placeholder='Last name' aria-label='Last name')
                  span#lnameError
              .row
                .col
                  label.form-label(for='exampleInputEmail1') Email address
                  input#exampleInputEmail1.form-control(type='email' name='emailinput' value= client.emailinput aria-describedby='emailHelp' placeholder='email')
                  span#emailError
                .col
                  label.form-label(for='exampleInputPhoneNumber') Phone Number
                  input.form-control(type='text' name='phoneinput' value= client.phoneinput placeholder='Phone Number' aria-label='Phone Number')
                  span#phoneError
              .row
                .col
                  label.form-label(for='exampleInputNIN') National ID Number
                  input.form-control(type='text' name='niniput' value= client.niniput placeholder='NIN' aria-label='NIN')
                  span#ninError
                .col
                  label.form-label(for='exampleInputNumberPlate') Car Type
                  label.visually-hidden(for='inlineFormSelectPref') Preferences
                  select#inlineFormSelectPref.form-select(name='carType' value= client.carType)
                    option(selected='') Choose...
                    option(value='Personal') Personal Car(not above 5 seater)
                    option(value='Taxi') Taxi(14 seater and below)
                    option(value='Coaster') Coaster(16 seater and above)
                    option(value='Truck') Truck
                    option(value='Boda') BodaBoda
                  span#carError
              .row
                .col
                  label.form-label(for='exampleInputModel') Model
                  input.form-control(type='text' name='modelinput' value= client.modelinput placeholder='Model' aria-label='Model')
                  span#modelError
                .col
                  label.form-label(for='exampleInputNumberPlate') Color
                  input.form-control(type='text' name='colorinput' value= client.colorinput placeholder='Model' aria-label='Model')
                  span#colorError
              label.form-label(for='exampleInputNumberPlate') Number Plate
              input.form-control(type='text' name='numberplate' value= client.numberplate placeholder='Number Plate' aria-label='Number Plate')
              span#numberplateError
              label.form-label(for='exampleInputLesssthan3') Services
              label.visually-hidden(for='inlineFormSelectPref') Preferences
              select#inlineFormSelectPref.form-select(name='services' value= client.services)
                option(selected='')
                option(value='Day') Day 
                option(value='Night') Night 
                option(value='<3hours') Less than 3hours
              span#lessthanError
              label.form-label(for='exampleInputNumberPlate') Cost
              input.form-control(type='text' name='cost' value= client.cost placeholder='cost' aria-label='cost')
              br
              .row
                .col
                  label(for='date') ArrivalDate
                  input.datetime(type='date' name='date' value= client.date)
                  span#dateError
                .col
                  label(for='time') ArrivalTime
                  input.datetime(type='time' name='time' value= client.time)
                  span#timeError
                .col
                  label(for='time') DepartTime
                  input.datetime(type='time' name='depart' value= client.depart)
                  span#timeError
              br
              .butt
                button.btn(type='submit') Submit
script(src='/js/regValidation2.js')
script(src='/libs/bootstrap/js/bootstrap.bundle.js')

