doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title CarClinic form
  link(rel='stylesheet' href='libs/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='newcarclinic.css')
nav.navbar.navbar-expand-lg.navbar-light.bg-dark.navbar-dark
  .container-fluid
    a.navbar-brand(href='newhome.html') Dockville
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ms-auto.mb-2.mb-lg-0
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Pages
          ul.dropdown-menu(aria-labelledby='navbarDropdown')
            li
              a.dropdown-item(href='newparking.html') Parking form
            li
              a.dropdown-item(href='sign-up-details.html') Client Registration
            li
              a.dropdown-item(href='#') coming soon
      form.d-flex
        input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
        button.btn.btn-outline-success(type='submit') Search
.container-cards
.row
  .col-sm-6
    .card
      .card-body
        form(action='')
          label.form-label(for='exampleInputDayParking') Car tyre Clinic
          label.visually-hidden(for='inlineFormSelectPref') Preferences
          select#inlineFormSelectPref.form-select
            option(selected='') Choose...
            option(value='1') Tyre Pressure(500)
            option(value='2') Puncture fixing(5000)
            option(value='3') Valves(5000)
          // <br>
          label.form-label(for='exampleInputNightParking') Rent a Battery
          label.visually-hidden(for='inlineFormSelectPref') Preferences
          select#inlineFormSelectPref.form-select
            option(selected='') For...
            option(value='1') Personal Car
            option(value='2') Taxi
            option(value='3') Coaster
            option(value='3') Truck
            option(value='4') Boda Boda
          br
          .butt
            button.btn(type='submit') Submit
  .col-sm-6
    .card.gy-5
      .card-body
        h1.card-title.card-title-carclinic CarClinic form
script(src='libs/bootstrap/js/bootstrap.bundle.js')
