<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking</title>
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="parking.css">
</head>

<body>
   
    <!-- <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
    
      </ul>
    
 
    </div> -->
    <div class="box">
     <div class="row">
            <div class="col">
                <h1>Parking</h1>
            </div>
          <div class="col col">
            
                <div class="register">
                     <form>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-12">
                                    <label for="exampleInputDayParking" class="form-label">Day Parking</label>
                                    <label class="visually-hidden" for="inlineFormSelectPref">Preferences</label>
                                    <select class="form-select" id="inlineFormSelectPref">
                                        <option selected>Choose...</option>
                                        <option value="1">Personal Car(3000)</option>
                                        <option value="2">Taxi(3000)</option>
                                        <option value="3">Coaster(4000)</option>
                                        <option value="3">Truck(3000(</option>
                                        <option value="4">Boda Boda(2000)</option>
                                    </select>
                                     <!-- <br> -->
                                    <label for="exampleInputNightParking" class="form-label">Night Parking</label>
                                    <label class="visually-hidden" for="inlineFormSelectPref">Preferences</label>
                                    <select class="form-select" id="inlineFormSelectPref">
                                        <option selected>Choose...</option>
                                        <option value="1">Personal Car(2000)</option>
                                        <option value="2">Taxi(2000)</option>
                                        <option value="3">Coaster(2000)</option>
                                        <option value="3">Truck(5000(</option>
                                        <option value="4">Boda Boda(2000)</option>
                                    </select>

                                    <label for="exampleInputLesssthan3" class="form-label">less than 3hr</label>
                                    <label class="visually-hidden" for="inlineFormSelectPref">Preferences</label>
                                    <select class="form-select" id="inlineFormSelectPref">
                                        <option selected>Choose...</option>
                                        <option value="1">Personal Car(2000)</option>
                                        <option value="2">Taxi(2000)</option>
                                        <option value="3">Coaster(3000)</option>
                                        <option value="3">Truck(2000(</option>
                                        <option value="4">Boda Boda(1000)</option>
                                    </select>
                                </div>

                                
                                <div class="butt">
                                    <button type="submit" class="btn btn-primary">Next</button>
                                </div>
                           </div>
                    </div>          
                  </form>
                </div> 
            </div>
        </div>




    </div>





    <script src="libs/bootstrap/js/bootstrap.bundle.js"></script>

</body>

</html>