doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Parking Prices 
  link(rel='stylesheet' href='/libs/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='/css/login.css')
nav.navbar.navbar-expand-lg.navbar-light.bg-dark.navbar-dark
  .container-fluid
    a.navbar-brand(href='/api/directordash') Dockville
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    
.container-cards
.row
  .col-sm-6
    h1.card-title.card-title-parking Parking Prices
  .col-sm-6
    .card.card1.gy-5
      .card-body
        form#formId(name='register'  method='POST', action="/api/regprice")
            label.form-label(for='exampleInputEmail1') Day Parking
            input#exampleInputEmail1.form-control(type='text' name='day' )
            span#emailError
            label.form-label(for='Password') Night Parking
            input.form-control(type='text' name='night' )
            span#phoneError
            label.form-label(for='text') Less than 3hr
            input.form-control(type='text' name='less')
            span#phoneError
            br
            .butt
                  button.btn(type='submit') Update
    // <div class="butt">
    // </div>
//- script(src='./js/parkingValidation.js')
script(src='/libs/bootstrap/js/bootstrap.bundle.js')
