<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dockville</title>
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="sign-up.css">
</head>
<body>
    <div class="container1">
            <h1>DockVille</h1>
            <p>car parking made easy for you</p>
            <!-- <hr> -->
            
                <div class="butt">
                    <button type="submit" class="btn">login</button>
                    </div>
            <br>
            <div class="butt">
                <button type="submit" class="btn">Sign up</button>
                </div>
            
    </div>

















    <script src="libs/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>