body{
    background-color: rgb(22, 22, 22);
    padding: 0px;
}


@font-face {
    font-family: font3;
    src: url(./futura\ medium\ bt.ttf);
}


@font-face {
    font-family: font4;
    src: url(./Futura\ Heavy\ font.ttf);
}

.nav-link{
    font-family: font3;
}

.navbar-brand{
    font-family: font4;
}

h1{
    font-family: font4;
    font-size: 70px;
}

.row{
    padding: 20px ;
    margin-top: 70px;
    /* margin-bottom: 200px; */

}

.card{
    height: 400px;
    background-color: rgb(15, 15, 15);
    color: beige;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    text-align: center;
    border-radius: 60px;
} 


.btn{
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    width: 90px;
    background-color: #1DB954;
    color: beige;
    font-family: font4;
}

.butt{
    text-align: center;
   
}


.card-body{
    padding: 100px;
}
/* .container-cards{
    align-items: center;

}  */

.nav-link{
    color: #1DB954;
    font-family: font4;
}









