body{
    background-color: rgb(255, 255, 255);
    padding: 0px;
}


@font-face {
    font-family: font3;
    src: url(/fonts/futura\ medium\ bt.ttf);
}


@font-face {
    font-family: font4;
    src: url(/fonts/Futura\ Heavy\ font.ttf);
}

@font-face {
    font-family: font5;
    src: url(/fonts/Louis\ George\ Cafe\ Bold.ttf);
}


.nav-link{
    font-family: font3;
}

.navbar-brand{
    font-family: font4;
}

h1{
    font-family: font4;
    font-size: 70px;
}

.row{
    padding: 20px ;
    margin-top: 0px;
    /* margin-bottom: 200px; */

}

.card{
    height: 400px;
    /* background-color: rgb(15, 15, 15); */
    color: #011120;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    text-align: center;
    border-radius: 60px;
    background-color: rgb(227, 250, 255);
    border-color: rgb(227, 250, 255);
} 


.btn{
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    width: 90px;
    background-color: #1DB954;
    color: beige;
    font-family: font4;
}

.butt{
    text-align: center;
   
}


.card-body{
    padding: 100px;
}
/* .container-cards{
    align-items: center;

}  */

.nav-link{
    color: #1DB954;
    font-family: font4;
}

.heading{
    text-align: center;
    color: #011120;
}

.counter{
    font-size: 60px;
    font-family: font4;
}

.count-card{
    width: 630px;
    height: 240px;
    /* margin-left: 10px; */

}

.count-text{
    text-align: center;
    
}

h5{
    font-size: 60px;
}




















