body{
    background-color: rgb(255, 255, 255);
    padding: 0px;
    color: #011120;
}

@font-face {
    font-family: font3;
    src: url(/fonts/futura\ medium\ bt.ttf);
}


@font-face {
    font-family: font4;
    src: url(/fonts/Futura\ Heavy\ font.ttf);
}

@font-face {
    font-family: font5;
    src: url(/fonts/Louis\ George\ Cafe\ Bold.ttf);
}

form{
    font-family: font5;
}

.nav-link{
    font-family: font4;
    color: #1DB954;
}

.navbar-brand{
    font-family: font4;
}

h1{
    font-family: font4;
    font-size: 70px;
}

.container-cards{
    padding: 20px;

}

.card{
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(67, 66, 66, 0.5);
    background-color: rgb(227, 250, 255);
    border-color: rgb(227, 250, 255);
}

.parking-card{
    height: 673px;
    /* background-color: #001104; */
    background-color: #a6ffc5;
    border-color:  #a6ffc5;
    
}

h1{
    padding-top: 160px;
    padding-left:70px;
    color:#011120;  
}

.clinic{
    padding-left:100px;
}

.clin{
    /* text-align: center; */
    padding-left: 100px;
}


.btn{
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    width: 90px;
    background-color: #1DB954;
    color: beige;
    font-family: font4;
}

.butt{
    text-align: center;
   
}


