body{
    background-color: rgb(255, 255, 255);
    padding: 0px;
    font-family: font5;
}

@font-face {
    font-family: font3;
    src: url(/fonts/futura\ medium\ bt.ttf);
}


@font-face {
    font-family: font4;
    src: url(/fonts/Futura\ Heavy\ font.ttf);
}

@font-face {
    font-family: font5;
    src: url(/fonts/Louis\ George\ Cafe\ Bold.ttf);
}

.col-sm-6{
    padding: 20px;
}

.card{
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(67, 66, 66, 0.5);
    background-color: rgb(227, 250, 255);
    border-color: rgb(227, 250, 255);
    margin: 25px;
}

.heading{
    text-align: center;
}

/* .table{
    border-radius: 20px;
    background-color: rgb(227, 250, 255);
} */