body{
    background-color: rgb(255, 255, 255);
    padding: 0px;
    font-family: font5;
}

@font-face {
    font-family: font3;
    src: url(/fonts/futura\ medium\ bt.ttf);
}


@font-face {
    font-family: font4;
    src: url(/fonts/Futura\ Heavy\ font.ttf);
}

@font-face {
    font-family: font5;
    src: url(/fonts/Louis\ George\ Cafe\ Bold.ttf);
}

.col-sm-6{
    padding: 20px;
}

.card{
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(67, 66, 66, 0.5);
    background-color: rgb(227, 250, 255);
    border-color: rgb(227, 250, 255);
    margin: 25px;
}

.heading{
    text-align: center;
}

.counter{
    font-size: 60px;
}

.count-card{
    width: 150px;
    height: 140px

}

.count-text{
    text-align: center;
}

.nav-link{
    font-family: font4;
    color: #1DB954;
}

.navbar-brand{
    font-family: font4;
}

.btn{
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    width: 90px;
    background-color: #1DB954;
    color: beige;
    font-family: font4;
}

.butt{
    text-align: center;
   
}

.tb-btn{
    width: 60px;
}


/* .table{
    border-radius: 20px;
    background-color: rgb(227, 250, 255);
} */