body{
    background-color: rgb(255, 255, 255);
    padding: 0px;
}

.col-sm-6{
    padding: 20px;
}

.card{
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(67, 66, 66, 0.5);
    background-color: rgb(227, 250, 255);
    border-color: rgb(227, 250, 255);
    margin: 25px;
}

.heading{
    text-align: center;
}

/* .table{
    border-radius: 20px;
    background-color: rgb(227, 250, 255);
} */